rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isSignedIn() && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid));
    }

    match /lessons/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /teachers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /students/{userId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if request.auth.uid == userId || isAdmin();
    }

    match /courses/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
